.markdown-body table {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-block;
  margin: 0 auto;
  margin-top: .3in;
  margin-bottom: .3in;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  text-align: left;
  width: 100%;
}

.markdown-body table,
.markdown-body table th,
.markdown-body table td,
.markdown-body table tr {
  page-break-inside: avoid !important;
  page-break-before: avoid !important;
  page-break-before: avoid !important;
}

.markdown-body table:after {
  display:block;
  height:0px;
  visibility: hidden;
}

.markdown-body table th {
  background-color: rgb(166, 166, 166);
  text-align: center;
  font-weight: bold;
  padding: 0 3px;
}

.markdown-body table th,
.markdown-body table td {
  border: 1px solid black;
}

.markdown-body table td {
  padding: 5px;
}
